<div class="toggle-bg {{backgroundImageClass isEnabled}}" >
        <div class="main-header">
              <div class="top-heading">
                    <h6 class="above-heading">{{{above.heading}}}</h6>
                    <p>"{{{sub-heading.sub-heading}}}"</p>
              </div>
              <div class="personal-details">
                  <table class="personal-table">
                      <tbody>
                          <tr>
                              <th scope="row">{{label.tableValue.dob}}</th>
                              <td>{{birthDetails.dob.dateOfBirth}}</td>
                              <th scope="row">{{label.tableValue.naaligai}}</th>
                              <td>{{horoscopeDetails.naaligai}}</td>
                          </tr>
                          <tr>
                              <th scope="row">{{label.tableValue.time}}</th>
                              <td>{{birthDetails.tamilYear}}</td>
                              <th scope="row">{{label.tableValue.BirthStar}}</th>
                              <td>{{horoscopeDetails.BirthStar}}</td>
                              
                          </tr>
                          <tr>
                              <th scope="row">{{label.tableValue.tamilMonth}}</th>
                              <td>{{birthDetails.tamilMonth}}</td>
                               <th scope="row">{{label.tableValue.rasi}}</th>
                              <td>{{horoscopeDetails.rasi}}</td>
                          </tr>
                          <tr>
                              <th scope="row">{{label.tableValue.tamilDate}}</th>
                              <td>{{birthDetails.tamilDate}}</td>
                              <th scope="row">{{label.tableValue.thithi}}</th>
                              <td>{{horoscopeDetails.thithi}}</td>
                          </tr>
                          <tr>
                              <th scope="row">{{label.tableValue.day}}</th>
                              <td>{{birthDetails.dob.day}}</td>
                              <th scope="row">{{label.tableValue.lagnam}}</th>
                              <td>{{horoscopeDetails.lagnam}}</td>
                              
                            
                          </tr>
                          <tr>
                              <th scope="row">{{label.tableValue.birthtime}}</th>
                              <td>{{birthDetails.dob.time}}</td>
                               <th scope="row">{{label.tableValue.pob}}</th>
                              <td>{{birthDetails.dob.placeOfBirth}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>

              <div class="center-content">
                  <h5>{{{below.heading}}}</h5>
                  <h4>{{{second.name}}}</h4>
                  <p class="third"><b>{{{third.line}}}</b></p>
              </div>
             <div class="horoscope-container">
           <table class="horoscope-table" style="width:32%">
             {{#each table1}}
              <tr>
             {{#each this}}
              <td {{#if colspan}}colspan="{{colspan}}"{{/if}} {{#if rowspan}}rowspan="{{rowspan}}"{{/if}}>
             {{{value}}}
              </td>
            {{/each}}
          </tr>
        {{/each}}
         </table>
          <div class="image-between-tables">
          <img src="{{imageSrc}}" alt="Image Between Tables" />
         </div>
         <table class="horoscope-table" style="width:32%">
         {{#each table2}}
          <tr>
         {{#each this}}
              <td {{#if colspan}}colspan="{{colspan}}"{{/if}} {{#if rowspan}}rowspan="{{rowspan}}"{{/if}}>
                {{{value}}}
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </table>
    </div>
    <div>
     <h5 class="third-heading">{{{third-line.third-line}}}</h5>
    </div>
       <div class="family-details">
        <table class="family-table">
            <tbody>
                 <tr>
                    <td><b>{{label.tableValue.fatherAlive}}</b> : {{familyDetails.fatherAlive}} - <b>{{label.tableValue.motherAlive}}</b> : {{familyDetails.motherAlive}} </td>
                    <td>{{label.tableValue.height}} : {{familyDetails.height}}</td>
                    <td>{{label.tableValue.bloodGroup}} : {{personalInfo.bloodGroup}}</td>
                    </tr>
                    <tr>
                     <td>{{label.tableValue.brother}} : {{familyDetails.siblings.brother.number}} ({{label.tableValue.Elder}}-{{familyDetails.siblings.brother.marriageNum}}) </td>
                      <td> {{label.tableValue.complextion}} : {{personalInfo.complextion}}</td>
                     <td>{{label.tableValue.ownhouse}} : {{ownHouse}}</td>
                    </tr> 
                   <tr>
                    <td>{{label.tableValue.Education}} : {{qualification.Education}}</td>
                     <td> {{label.tableValue.Profession}} : {{personalInfo.Profession}}</td>
                      <td>{{label.tableValue.Income}} : {{occupation.Income}}</td>

                    </tr>
            </tbody>
        </table>
        </div>
     <div class="address-container">
        <h5> {{label.tableValue.Address}} : {{below1.residentialAddress.address}}<br>{{below1.residentialAddress.landmark}}{{below1.residentialAddress.city}} {{below1.residentialAddress.stateName}}-{{below1.residentialAddress.pincode}}<br>{{label.tableValue.contactNumber}} : {{contactDetails.contactNumber}} {{label.tableValue.whatsappNumber}} : {{contactDetails.whatsappNumber}}<br>{{label.tableValue.emailId}} : {{contactDetails.emailId}}</h5>
  </div>
</div>